html {
  background-color: black;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.grid {
  display: flex;
  min-height: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2vh auto 0 auto;
  border: #bfac9b 0.5px solid;
  border-radius: 5px;
}

.menu {
  height: 30px;
  background-color: #242424;
  display: flex;
}

.menu-label {
  color: #bfac9b;
  padding-left: 10px;
  background-color: #242424;
  align-self: center;
}

.menu-item {
  margin-left: 6px;
  background-color: #bfac9b;
  color: black;
  align-self: center;
}

.menu-align-end {
  margin-left: auto;
}
